@import "_colors";

#big-ol-persona-box,
#big-ol-openid-box {
    font-size: 1.33em;
    margin-bottom: 1em;
    text-align: center;

}


// TODO make this work more generally and get it out of here (archetype?)
.text-plus-button {
    input[type="text"],
    input[type="search"] {
        border-right: none !important;
        border-radius: 2px 0 0 2px !important;
    }
    input, button {
        // webkit gives these a 2px margin for some reason
        margin: 0;
    }
}


#big-ol-openid-box--field {
    background: transparent url(/icons/openid.png) no-repeat 4px center;
    padding-left: 24px;
}


aside.sidebar {
    float: right;
    width: 40%;
    margin: 0 1em 1em;
}
