.comment {
    overflow: hidden;
    margin-top: 1em;

    .avatar {
        float: left;
        height: 100px;
        width: 100px;
        padding: 6px;
        background: #eee;
    }
    .header {
        margin-left: 112px;
        padding: 0.25em;
        line-height: 1.5;
        border-bottom: 1px solid #ccc;
        background: #eee;

        ul.links {
            float: right;
            margin: -0.25em;

            li {
                display: inline-block;
                text-transform: lowercase;

                a {
                    display: block;
                    padding: 0.25em 0.5em;
                }
            }
        }
    }
    .content {
        margin-left: 112px;
        padding: 0.5em;
        line-height: 1.5;
    }

    &:hover {
        .avatar,
        .header {
            background: hsl(216, 40%, 93%);
        }
        .header {
            border-color: hsl(216, 40%, 87%);
        }
    }

}

.comment-child {
    margin-left: 2em;
}
