/*** Core layout ***/
html { height: 100%; }
body { position: relative; min-height: 100%; background: #c1c8cf; font-size: 12px; font-family: DejaVu Sans, Arial, sans-serif; }

#header { position: relative; overflow: hidden; height: 100px; background: black; }
#header #logo { position: absolute; font-size: 3em; top: 0.33em; left: 0.33em; font-family: "Brush Script MT", cursive, serif; font-weight: bold; color: white; }
#header #logo a { color: white; }
#header #user { position: absolute; right: 0; top: 0; bottom: 0; width: 16em; padding: 1em; background: #74818c; background: rgba(116, 129, 140, 0.75); color: white; }
#header #user a:link { color: #a4c1dc; }
#header #user a:visited { color: #b1a4dc; }
#header #user a:hover { color: #dca4a4; }
#header #navigation { position: absolute; left: 0; right: 18em; bottom: 0; background: #74818c; background: rgba(116, 129, 140, 0.75); }
#header #navigation li { display: inline-block; }
#header #navigation li a { display: block; margin: 0 0.5em; padding: 0.5em 1em; color: white; }
#header #navigation li a:hover { background: #74818c; }

#flash { margin: 0 2em; line-height: 1.5; border: 1px solid rgba(0, 0, 0, 0.75); border-top: none; border-bottom: none; color: #202020; -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); }
#flash li { position: relative; padding: 0.25em 0.5em; border-bottom: 1px dotted #ededed; background: url(/images/flash-background.png) #d8d8d8 top left repeat; }
#flash li img { display: block; position: absolute; top: -8px; left: -20px; margin-top: 1em; }
#flash li.flash-level-success { border-color: #799070; background-color: #dee4dc; }
#flash li.flash-level-notice { border-color: #6f8290; background-color: #dbe0e3; }
#flash li.flash-level-warning { border-color: #90846f; background-color: #e3e0db; }
#flash li.flash-level-error { border-color: #907070; background-color: #e3dbdb; }

#content { overflow: hidden; margin: 0 2em; padding: 1em; border: 1px solid #909090; border-top: none; background: #ededed; -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); -moz-border-radius: 0 0 1em 1em; -webkit-border-radius: 0 0 1em 1em; border-radius: 0 0 1em 1em; }

#footer-spacer { height: 8em; }
#footer { position: absolute; left: 2em; right: 2em; bottom: 0; height: 4em; padding: 1em; line-height: 1.33; background: #a6b0ba; -moz-border-radius: 0.25em 0.25em 0 0; -webkit-border-radius: 0.25em 0.25em 0 0; border-radius: 0.25em 0.25em 0 0; }
#footer-stats { float: right; text-align: right; }

/* Core elements */
a { font-weight: bold; text-decoration: none; }
a:link { color: #437fb8; }
a:visited { color: #5f43b8; }
a:hover { color: #b84343; }

img { vertical-align: middle; }

p { margin-bottom: 0.5em; }

/* Headers */
h1 { font-size: 2em; margin: 1em 0 0.5em; padding: 0.5em 1em; border-bottom: 1px solid #5a7086; background: url(/images/h1-background.png) #bcc3cb left center repeat-x; font-family: serif; text-shadow: 1px 1px 1px #5a7086; }
#content > h1 { margin: 1em -0.5em 0.5em; }
#content > h1:first-child { margin: -0.5em -0.5em 0.5em; }
h1 img:first-child { margin-left: -16px; }

h2 { font-size: 1.5em; margin: 1em 0 0.5em; padding: 0.25em 0.5em; background: #bdc3cb; border-bottom: 1px solid #94a0ac; }

/* Forms */
input, button, select { vertical-align: middle; }
input[type="submit"], input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

.form-error { margin: 0.25em 0.25em 0.5em; padding-left: 16px; background: url(/icons/exclamation-small-red.png) left center no-repeat; color: darkred; }

/* Lists */
dl.standard-form dl { overflow: hidden /* new float context */; margin-bottom: 0.75em; }
dl.standard-form dt { float: left; clear: left; width: 11.5em; margin-right: 0.5em; text-align: right; color: #5a7086; }
dl.standard-form dt:after { content: ':'; }
dl.standard-form dd { padding-left: 12em /* float width, so hover highlight includes dt but lines wrap correctly */; }
dl.standard-form dd:after { content: 'float clear'; display: block; clear: both; height: 0; visibility: hidden; }
dl.standard-form dt, dl.standard-form dd { line-height: 1.5; }


/*** Globally useful stuff ***/

.user-panel { display: inline-block; width: 20em; padding: 0.5em; border: 1px solid #5a7086; box-shadow: 0.05em 0.05em 0.1em hsla(0, 0%, 100%, 0.5) inset, -0.05em -0.05em 0.1em -0.05em hsla(0, 0%, 0%, 0.5) inset, 0 -2em 1em -1em #d3d8dd inset; border-radius: 0.5em; vertical-align: top; }
.user-panel:hover { box-shadow: 0 0 0.17em #b84343, 0.05em 0.05em 0.1em hsla(0, 0%, 100%, 0.5) inset, -0.05em -0.05em 0.1em -0.05em hsla(0, 0%, 0%, 0.5) inset, 0 -2em 1em -1em #d3d8dd inset; border-radius: 0.5em; vertical-align: top; }
.user-panel:active { padding: 0.6em 0.4em 0.4em 0.6em; box-shadow: 0 0 0.25em #b84343, 0.05em 0.05em 0.1em hsla(0, 0%, 0%, 0.5) inset, -0.05em -0.05em 0.1em -0.05em hsla(0, 0%, 100%, 0.5) inset, 0 2em 1em -1em #d3d8dd inset; }

/* Form bits */
.stylish-button { font-size: 1.2em; padding: 0.25em 0.5em; border: 1px solid #5a7086; border-radius: 0.75em; box-shadow: 0.1em 0.1em 0.1em -0.1em white inset, 0 2em 1em -1em hsla(0, 0%, 100%, 0.4) inset; }
.stylish-button:hover { box-shadow: 0 0 0.17em #b84343, 0.1em 0.1em 0.1em -0.1em white inset, 0 2em 1em -1em hsla(0, 0%, 100%, 0.4) inset; }
.stylish-button:active { box-shadow: 0 0 0.17em #b84343, 0.1em 0.1em 0.1em -0.1em black inset, 0 2em 1em -1em hsla(0, 0%, 0%, 0.1) inset; }
.stylish-button.confirm { background: hsl(120, 40%, 50%); }
.stylish-button.destroy { background: hsl(0, 40%, 50%); }
.stylish-button.mini { font-size: 0.8em; }

/* Cool three-column layout */
.column-container { clear: both; overflow: hidden /* float context */; margin-top: 1em; }
.column { float: left; width: 32.666%; margin-left: 1%; }
.column:first-child { margin-left: 0; }
.column-2x { float: left; width: 66.333%; margin-left: 1%; }
.column-2x:first-child { margin-left: 0; }

.column h2,
.column-2x h2 { border-color: #b8c0c8; background: #d1d8df; }
.column h2:first-child,
.column-2x h2:first-child { margin-top: 0; }



/*** Art ***/
ul.thumbnail-grid { position: relative; }
ul.thumbnail-grid li.thumbnail { z-index: 0; display: inline-block; position: relative; height: 160px; width: 160px; margin: 0.5em; }
ul.thumbnail-grid li.thumbnail a.thumbnail { z-index: 10; display: block; position: relative; height: 160px; width: 160px; line-height: 160px; text-align: center; }
ul.thumbnail-grid li.thumbnail a.thumbnail img { vertical-align: middle; -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
ul.thumbnail-grid li.thumbnail .thumbnail-meta { z-index: 0; display: none; position: absolute; width: 200px; top: -16px; left: -25px; margin-top: -2em; padding: 0 4px 0.5em; line-height: 1.33; border: 1px solid #b3c0cd; background: #d1d8df; text-align: left; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; }
ul.thumbnail-grid li.thumbnail .thumbnail-meta .title { overflow: hidden; white-space: nowrap; margin: 0 -4px 180px; padding: 0.5em; background: #b3c0cd; font-weight: bold; -moz-border-radius: 1em 1em 0 0; -webkit-border-radius: 1em 1em 0 0; border-radius: 1em 1em 0 0; }
ul.thumbnail-grid li.thumbnail .thumbnail-meta img { vertical-align: text-bottom; }
ul.thumbnail-grid li.thumbnail:hover { z-index: 10; }
ul.thumbnail-grid li.thumbnail:hover .thumbnail-meta { display: block; }
ul.thumbnail-grid li.thumbnail:hover a img { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.artwork { margin: 2em 0; text-align: center; }
.artwork img { max-width: 100%; }


/*** Control panel ***/
ul#control-panel-navigation { float: left; width: 20em; padding-bottom: 32767px; margin: -1em; margin-right: 1em; margin-bottom: -32767px; background: #e4e7ea; }
ul#control-panel-navigation li a { display: block; padding: 0.5em; }
ul#control-panel-navigation li a:hover { background: #d8dde1; }
ul#control-panel-navigation li.selected { padding: 0.5em; background: #ededed; }
#control-panel-content { margin-left: 20em; }


/*** Comments ***/
.comment { overflow: hidden; margin-top: 1em; }
.comment .avatar { float: left; height: 100px; width: 100px; padding: 6px; background: #d1d8df; -moz-border-radius: 6px 0 6px 6px; -webkit-border-radius: 6px 0 6px 6px; border-radius: 6px 0 6px 6px; }
.comment .header { margin-left: 112px; padding: 0.25em; line-height: 1.5; border-bottom: 1px solid #b3c0cd; background: #d1d8df; }
.comment .header ul.links { float: right; margin: -0.25em; }
.comment .header ul.links li { display: inline-block; text-transform: lowercase; }
.comment .header ul.links li a { display: block; padding: 0.25em 0.5em; background: #b3c0cd; font-weight: normal; color: black; }
.comment .header ul.links li a:hover { background: #94a6b9; }
.comment .content { margin-left: 112px; padding: 0.5em; line-height: 1.5; }
.comment:hover { outline: 2px solid #b3c0cd; -moz-outline-radius: 8px 0 8px 8px; -webkit-outline-radius: 8px 0 8px 8px; outline-radius: 8px 0 8px 8px; }
.comment-child { margin-left: 2em; }


/*** Debugging ***/
ul#x-debugging { display: none; position: fixed; top: 0; bottom: 0; right: 0; width: 20em; background: rgba(0, 0, 0, 0.7); }
ul#x-debugging.visible { display: block; }
ul#x-debugging > li { border-bottom: 1px solid hsla(0, 0%, 100%, 0.3); padding: 1em; color: white; cursor: pointer; }
ul#x-debugging > li:hover { background: hsl(215, 50%, 30%); }
ul#x-debugging > li > h5 { font-size: 1.33em; margin-bottom: 0.5em; }
ul#x-debugging > li > h6 { font-size: 1.1em; }
.x-debugging-panel { display: none; position: fixed; overflow: auto; top: 0; bottom: 0; left: 0; right: 20em; padding: 1em; border: 1em solid hsl(215, 50%, 50%); background: #f4f4f4; color: black; cursor: default; }
ul#x-debugging > li.selected { background: hsl(215, 50%, 50%); }
ul#x-debugging > li.selected > .x-debugging-panel { display: block; }

#x-debugging-toggler { position: fixed; font-size: 2em; bottom: -4em; right: -4em; height: 8em; width: 8em; line-height: 3em; text-align: center; vertical-align: bottom; border-radius: 8em; background: hsla(215, 50%, 30%, 0.7); color: hsla(0, 0%, 100%, 0.7); -moz-transform: rotate(-45deg); cursor: pointer; }
ul#x-debugging.visible + #x-debugging-toggler { background: hsl(215, 50%, 50%); }
ul#x-debugging + #x-debugging-toggler:hover { background: hsl(215, 50%, 30%); }

table#x-debugging-query-log { line-height: 1.33; }
table#x-debugging-query-log tbody:nth-child(2n) { background: #e8e8e8; }
table#x-debugging-query-log td,
table#x-debugging-query-log th { padding: 0.25em 0.5em; }
table#x-debugging-query-log th { padding-bottom: 1em; font-family: monospace; text-align: left; color: #000080; }
