@import "_colors";

#big-ol-openid-box {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;

}


.text-plus-button {
    word-spacing: -1em;

    * {
        word-spacing: normal;
    }

    input[type="text"],
    input[type="search"] {
        border-right: none !important;
        border-radius: 2px 0 0 2px !important;
    }
}




aside.sidebar {
    float: right;
    width: 40%;
    margin: 0 1em 1em;
}

ul.standard-list {
    margin: 0.5em 0;
    line-height: 1.5;

    & > li {
        list-style-type: disc;
        margin: 0.33em 0 0.33em 2em;
    }
}
