// Thumbnail grid, used basically everywhere art appears
ul.thumbnail-grid {
    position: relative;

    li.thumbnail {
        z-index: 0;
        display: inline-block;
        position: relative;
        height: 160px;
        width: 160px;
        margin: 0.5em;
        vertical-align: middle;

        a.thumbnail {
            z-index: 10;
            display: block;
            position: relative;
            height: 160px;
            width: 160px;
            line-height: 160px;
            text-align: center;

            img {
                padding: 2px;
                border: 1px solid #ccc;
                vertical-align: middle;
                @include box-shadow(1px 1px 3px #ccc);
                @include transition-property(-moz-box-shadow);
                @include transition-duration(0.2s);
            }
        }

        // Metadata block that shows on hover
        .thumbnail-meta {
            z-index: 0;
            display: none;
            position: absolute;
            width: 200px;
            top: -16px;
            left: -25px;
            margin-top: -2em;
            padding: 0 4px 0.5em;
            line-height: 1.33;
            border: 1px solid $header2-border;
            background: $header2-bg;
            text-align: left;
            @include border-radius(1em);

            .title {
                overflow: hidden;
                white-space: nowrap;
                margin: 0 -4px 180px;
                padding: 0.5em;
                background: $header2-border;
                font-weight: bold;
                @include border-radius(1em 1em 0 0);
            }
            img {
                vertical-align: text-bottom;
            }
        }

        &:hover {
            z-index: 10;

            .thumbnail-meta {
                //display: block;
            }
            a img {
                //@include box-shadow(none);
                border-color: hsl(216, 40%, 70%);
                @include box-shadow(1px 1px 3px hsl(216, 40%, 70%));
            }
        }
    }
}

// Detailed thumbnail grid, a display option for gallery sieves
ul.detailed-thumbnail-grid {
    position: relative;

    li.detailed-thumbnail {
        z-index: 0;
        display: inline-block;
        position: relative;
        min-height: 80px;
        width: 15em;
        margin: 0.5em;
        padding-left: 90px;
        vertical-align: top;

        a.thumbnail {
            z-index: 10;
            display: block;
            float: left;
            height: 80px;
            width: 80px;
            margin-left: -90px;  // boo, pixel alignment
            line-height: 80px;
            text-align: center;

            img {
                vertical-align: top;
                @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
}

// Detailed table, the final display option for gallery sieves
table.detailed-artwork-table {
    width: 100%;

    th, td {
        line-height: 1.33;
        vertical-align: top;
    }

    .-thumbnail {
        img {
            vertical-align: top;
            @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
            max-width: 80px;
            max-height: 80px;
        }
    }
}

// Container for a work of art as displayed on its own page
.artwork {
    margin: 2em 0;
    text-align: center;

    img {
        max-width: 100%;
    }
}

// Generic filters for art displays
.art-filter {
    margin: 1em 0;
    padding: 1em;
    background: #eee;
    border: 1px solid #ddd;

    .column-container {
        margin-top: 0;
    }
}


// Cropping page
.crop-control-container {
    float: left;
    margin-right: 2em;

    .crop-preview-box {
        float: right;
        margin-bottom: 2em;
        border: 2px solid #000;
        background: #aaa;
        overflow: hidden;

        img {display: none;}  // Initially hidden; Jcrop will override as needed.
    }

    div.crop-controls {
        clear: right;
        float: right;
        width: 20em;

        form [readonly] {
            background: #ccc;
        }
    }

    dl.standard-form {
        dt {width: 5em;}
        dd {
            margin-left: 6em;
            width: 13em;
            input {width: 13em;}
        }
    }
}

.crop-selection-container {
    float: left;
    overflow: visible;
}
