@import "_lib";

// Thumbnail grid, used basically everywhere art appears
ul.thumbnail-grid {
    position: relative;

    li.thumbnail {
        z-index: 0;
        display: inline-block;
        position: relative;
        height: 160px;
        width: 160px;
        margin: 0.5em;
        vertical-align: middle;

        a.thumbnail {
            z-index: 10;
            display: block;
            position: relative;
            height: 160px;
            width: 160px;
            line-height: 160px;
            text-align: center;

            img {
                padding: 2px;
                border: 1px solid #ccc;
                vertical-align: middle;
                @include box-shadow(1px 1px 3px #ccc);
                @include transition-property(-moz-box-shadow);
                @include transition-duration(0.2s);
            }
        }

        // Metadata block that shows on hover
        .thumbnail-meta {
            z-index: 0;
            display: none;
            position: absolute;
            width: 200px;
            top: -16px;
            left: -25px;
            margin-top: -2em;
            padding: 0 4px 0.5em;
            line-height: 1.33;
            border: 1px solid $header2-border;
            background: $header2-bg;
            text-align: left;
            @include border-radius(1em);

            .title {
                overflow: hidden;
                white-space: nowrap;
                margin: 0 -4px 180px;
                padding: 0.5em;
                background: $header2-border;
                font-weight: bold;
                @include border-radius(1em 1em 0 0);
            }
            img {
                vertical-align: text-bottom;
            }
        }

        &:hover {
            z-index: 10;

            .thumbnail-meta {
                //display: block;
            }
            a img {
                //@include box-shadow(none);
                border-color: hsl(216, 40%, 70%);
                @include box-shadow(1px 1px 3px hsl(216, 40%, 70%));
            }
        }
    }
}

// Detailed thumbnail grid, a display option for gallery sieves
ul.detailed-thumbnail-grid {
    position: relative;

    li.detailed-thumbnail {
        z-index: 0;
        display: inline-block;
        position: relative;
        min-height: 80px;
        width: 15em;
        margin: 0.5em;
        padding-left: 90px;
        vertical-align: top;

        a.thumbnail {
            z-index: 10;
            display: block;
            float: left;
            height: 80px;
            width: 80px;
            margin-left: -90px;  // boo, pixel alignment
            line-height: 80px;
            text-align: center;

            img {
                vertical-align: top;
                @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
}

// Detailed table, the final display option for gallery sieves
table.detailed-artwork-table {
    width: 100%;

    th, td {
        line-height: 1.33;
        vertical-align: top;
    }

    .-thumbnail {
        img {
            vertical-align: top;
            @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
            max-width: 80px;
            max-height: 80px;
        }
    }
}

// Container for a work of art as displayed on its own page
.artwork {
    margin: 2em 0;
    text-align: center;

    img {
        max-width: 100%;
    }
}

// Generic filters for art displays
.art-filter {
    margin: 1em 0;
    padding: 1em;
    background: #eee;
    border: 1px solid #ddd;

    .column-container {
        margin-top: 0;
    }
}


/*** Upload page ***/
.upload-block {
    text-align: center;
    background: #f9ffff;
}
.upload-block .-part-thumbnail {
    position: relative;
    height: 160px;
    width: 160px;
    margin: 0 auto 1em;
    line-height: 160px;
    border: 0.25em solid #eee;
    background: #f4f4f4;
}
.upload-block .-part-thumbnail canvas {
    text-align: center;
    vertical-align: middle;
}
.upload-block button[type='submit'] {
    font-size: 1.33em;
}

.upload-block .-part-file-button {
    position: absolute;
    z-index: 1;  // stay above actual thumbnail etc
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    // XXX this is eyeballed, could use a better fix
    padding-top: 40px;
}
// I love me some state classes
.upload-block.state-oldmode .-part-file-button,
.upload-block.state-oldmode .-part-thumbnail,
.upload-block.state-oldmode .-part-metadata,
.upload-block.state-loading .-part-file-button {
    display: none;
}
// Do NOT display-none the file upload control; webkit won't allow JS to
// trigger it.
.upload-block.state-init .-part-file-field,
.upload-block.state-loading .-part-file-field,
.upload-block.state-ready .-part-file-field {
    height: 0;
    width: 0;
    overflow: hidden;
}
// These parts are just hidden, so the page doesn't reflow when they become
// visible
.upload-block.state-init .-part-upload,
.upload-block.state-init .-part-metadata,
.upload-block.state-loading .-part-upload,
.upload-block.state-loading .-part-metadata {
    visibility: hidden;
}
// While a thumbnail is showing, hide the button, BUT show it again on hover to
// allow picking a new image
.upload-block.state-ready .-part-file-button {
    opacity: 0;
    @include transition(opacity 0.2s linear);
    // same as -part-thumbnail background
    background: #f4f4f4;
    background: rgba(#f4f4f4, 0.5);
}
.upload-block.state-ready .-part-thumbnail:hover .-part-file-button {
    opacity: 1;
}
