nav.side-navigation{
    float: left;
    width: 20em;
    margin-right: 1em;

    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        padding: 0;

        &.selected {
            padding: 0.5em;
            background: darken($body-bg, 4%);
        }

        a {
            display: block;
            padding: 0.5em;
            text-decoration: none;

            &:hover {
                background: darken($body-bg, 4%);
            }
        }
    }
}

table.certificate {
    tr.invalid {
        color: #666;

        td:nth-child(1) {
            text-decoration: line-through;
        }
        td:nth-child(2) {
            color: #600;
        }
    }

    tr.valid td:nth-child(2) {
        color: #060;
    }
}

dl.certificate.valid dd:nth-child(4) {
    color: #060;
}
dl.certificate.invalid dd:nth-child(4) {
    color: #600;
}
