@import "_colors";
@import "_lib";

////////////////////////////////////////////////////////////////////////////////
// Core layout

html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    background: $body-bg;
    font-size: 12px;
    font-family: DejaVu Sans, Arial, sans-serif;
}

body > header {
    display: block;
    position: relative;
    background: black;

    a {
        text-decoration: none;

        &:link, &:visited, &:hover {
            color: white;
        }
    }

    #banner {
        position: relative;
        overflow: hidden;
        height: 100px;
        background: url(/images/test-banner.png) -600px -100px;

        #site-title {
            display: block;
            position: absolute;
            font-size: 5em;
            left: 0.5em;
            bottom: 0.25em;

            font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
            font-weight: bold;
            letter-spacing: 0.08em;
            color: black;
            text-shadow: 0 0 2px hsla(0, 0%, 100%, 0.8);
        }
    }

    > nav {
        font-size: 1.33em;
        line-height: 2;
        height: 2em;
        padding: 1px 0;
        background: #404040;

        @include box-shadow((
            inset 0 -2em 3em -2em black,
            inset 0 0 1px rgba(100%, 100%, 100%, 0.5)
        ));

        > menu > li > a,
        #user a {
            display: block;
            padding: 0 1em;

            &:hover {
                background: hsl(216, 60%, 50%);
                @include box-shadow(inset 0 -2em 3em -2em hsl(216, 60%, 30%));
            }
            &:active {
                background: hsl(216, 60%, 50%);
                @include box-shadow(inset 0 2em 3em -2em hsl(216, 60%, 30%));
            }
        }

        #user {
            float: right;

            img {
                height: 2em;
                max-width: 2em;
                margin: 0 -1em 0 1em;
                vertical-align: top;
            }
        }

        > menu {
            > li {
                position: relative;
                display: inline-block;
                vertical-align: bottom;

                &#mini-site-title > a {
                    font-size: 2em;
                    line-height: 1;
                    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
                    font-weight: bold;
                    padding: 0 0.25em;
                    margin-right: 0.5em;
                }

                // Submenus/dropdowns
                > menu {
                    display: none;
                    position: absolute;
                    z-index: 9999;
                    width: 10em;
                    padding: 0.5em;
                    right: 0;
                    top: 2em;
                    margin-top: 1px;

                    background: hsla(0, 0%, 30%, 0.9);
                    border: 1px solid hsla(0, 0%, 30%, 1.0);
                    border-top: none;
                    @include box-shadow(2px 2px 3px #e0e0e0);

                    > li {
                        button {
                            width: 100%;
                            text-align: left;
                            @include box-sizing(margin-box);
                        }
                    }
                }
                &:hover > menu {
                    display: block;
                }
            }
        }
    }
}

@mixin flash-level($hue) {
    $sat: 60%;
    border-color: hsl($hue, $sat, 50%);
    background-color: hsl($hue, $sat, 80%);
    @include box-shadow((
        inset 1px 1px 1px hsla(0, 0%, 100%, 0.2),
        1px 1px 2px #ccc,
        inset 0 -3em 3em -3em hsl($hue, $sat, 60%)
    ));
}
#flash {
    line-height: 1.5;

    li {
        // XXX make these little warning bars available elsewhere?
        position: relative;
        padding: 0.5em;
        padding-left: 2.5em;
        margin: 1em 2em;
        border: 1px solid #666;
        @include border-radius(3px);
        color: black;
        text-shadow: 0 0 2px hsla(0, 0%, 100%, 0.5);
        @include box-shadow((
            inset 1px 1px 1px hsla(0, 0%, 100%, 0.5),
            1px 1px 3px #999
        ));

        &.flash-level-success {
            @include flash-level(120);
        }
        &.flash-level-notice {
            @include flash-level(216);
        }
        &.flash-level-warning {
            @include flash-level(60);
        }
        &.flash-level-error {
            @include flash-level(0);
        }

        img {
            display: block;
            position: absolute;
            top: 0.5em;
            left: 0.5em;
        }
    }
}

body > section {
    margin: 2em;

    > h1 {
        // This is the main page title, and sometimes major sections below
        font-size: 3em;
        font-family: serif;  // XXX
        color: #111;
        border-bottom: 3px double #ccc;
        margin-bottom: 0.33em;
        text-shadow: 1px 1px 1px #ccc;

        > img {
            // Accompanying icon; scale it up to a more reasonable size
            height: 32px;
            width: 32px;
            vertical-align: baseline;

            @include pixel-scaling;
        }
    }

    section h1,
    aside h1 {
        font-size: 2em;
        text-shadow: 1px 1px 1px #ddd;
        border-bottom: 1px solid #ccc;
        margin: 1em 0 0.5em;
        @include box-shadow(inset 0 -0.33em 0 #eee);
    }

    section h1:first-child,
    section h1.top-heading,
    aside h1:first-child {
        margin-top: 0;
    }

    h2 {
        // For significant thematic sub-headings
        font-size: 1.5em;
    }
}

// Generic content styling
section, aside {
    overflow: auto;
    margin: 2em 0;
}

// Class used on artwork pages, to avoid giving art a powerful background color
// (like, say, white).  Unfortunately, needs to swap out the margin for padding
section.neutral-background {
    margin: 0;
    padding: 2em;
    background: #e8e8e8;
}

body > footer {
    margin: 8em 2em 2em;
    padding: 0.5em 1em;
    border-top: 1px solid #666;
    color: #666;

    &:before {
        content: ' ';
        display: block;
        height: 1px;
        background: -moz-linear-gradient(left, transparent, #999, transparent);

        display: none;
    }
}
#footer-stats {
    float: right;
    text-align: right;
}


////////////////////////////////////////////////////////////////////////////////
// Simple elements

a {
    text-decoration: underline;

    &:link {
        color: hsl(216, 70%, 50%);
    }
    &:visited {
        color: hsl(270, 70%, 50%);
    }
    &:hover {
        color: hsl(0, 70%, 50%);
    }
}

img {
    vertical-align: middle;
}

p {
    line-height: 1.5;
    margin: 0.5em 0 1em;
}

pre {
    line-height: 1.2;
    font-family: monospace;
}

code {
    padding: 0.25em 0.5em;
    font-family: Monaco, DejaVu Sans Mono, Bitstream Vera Sans Mono, Andale Mono, Consolas, Courier New, monospace;
    color: #404040;
    background: hsl(45, 70%, 92%);
    border-radius: 2px;
}
kbd {
    @extend code;
    letter-spacing: 0.08em;
}

var {
    color: hsl(45, 70%, 40%);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

// -----------------------------------------------------------------------------
// Forms

// XXX: i want a label:hover
// XXX: i also want some highlight for checked checkboxes

input, button, select {
    vertical-align: middle;
}
input[type="radio"] {
    margin: 0.25em;
}
label,
input[type="radio"], input[type="checkbox"],
input[type="submit"], input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

select,
input[type="text"],
input[type="password"],
textarea {
    color: #404040;
    background: #fff;
    padding: 0.25em;
    border: 1px solid #999;
    @include border-radius(3px);
}

input[type="text"],
textarea {
    font-size: inherit;

    @include box-shadow(inset 1px 1px 2px -1px $shadow);

    @include transition-property((-moz-box-shadow, -webkit-box-shadow, box-shadow, border-color));
    @include transition-duration(0.2s);

    &:focus {
        z-index: 1;
        border-color: hsl(216, 60%, 50%);
        @include box-shadow((
            inset 1px 1px 2px -1px $shadow,
            0 0 0.25em 0.25em hsl(216, 60%, 90%)
        ));
    }

    // nb: DO NOT consolidate these blocks; each selector looks bogus to the
    // other browser and the whole thing gets ignored
    &::-webkit-input-placeholder {
        color: #ccc;
    }
    &:-moz-placeholder {
        color: #ccc;
    }


    // Variants
    &.with-icon {
        background: url(/icons/ui-text-field.png) white 2px center no-repeat;
        padding-left: 20px;
    }
}

// XXX: Maybe this mixin belongs in a different section
@mixin fancy-button {
    background: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 70%);
    padding: 0.25em 0.5em;

    @include box-shadow((
        inset 0 0 1px white,
        inset 0 -2em 2em -2em hsl(0, 0%, 80%)
    ));

    @include transition-property((-moz-box-shadow, -webkit-box-shadow, box-shadow, border-color, background-color));
    @include transition-duration(0.2s);

    &:hover {
        background-color: hsl(216, 60%, 95%);
        border-color: hsl(216, 60%, 70%);
        @include box-shadow((
            inset 0 0 1px white,
            inset 0 -2em 2em -2em hsl(216, 60%, 80%)
        ));
    }
    &:focus {
        border-color: hsl(216, 60%, 50%);
    }
    &:active {
        background-color: hsl(216, 60%, 90%);
        @include box-shadow((
            inset 0 1px 3px -1px black,
            inset 0 -2em 2em -2em hsl(216, 60%, 70%)
        ));
    }
}

button {
    @include fancy-button;
    font-size: inherit;
}

::-moz-focus-inner {
    border: 0;
}

.form-error {
    margin: 0.25em 0.25em 0.5em;
    padding-left: 16px;
    background: url(/icons/exclamation-small-red.png) left center no-repeat;
    color: darkred;
}

// -----------------------------------------------------------------------------
// Form container

dl.standard-form {
    > dt {
        float: left;
        clear: left;
        width: 11em;
        text-align: right;
        color: #999;
    }
    > dd {
        margin-left: 12em;  // float width

        &:after {
            content: 'float clear';
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
            overflow: hidden;
        }
    }
    > dt,
    > dd {
        padding: 0.5em 0;
        line-height: 2;
    }

    > dd.standard-form-footer {
        button {
            font-size: 1.5em;
        }
    }

    .standard-form-hint {
        font-size: 0.8em;
        font-style: italic;
        color: #666;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Globally useful div/span classes

ul.button-list {
    li {
        list-style: none;
    }

    a {
        @include fancy-button;
        color: #000;
        text-decoration: none;
        display: block;
        padding: 0.75em;
        margin: 0.25em;
        float: left;
        clear: left;
    }
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: inherit;
}

.halfsplit {
    float: left;
    width: 48%;
}
.halfsplit.left { padding: 0 1.5% 0 0; }
.halfsplit.right { padding: 0 0 0 1.5%; }

span.monospace {
    font-family: monospace;
}


////////////////////////////////////////////////////////////////////////////////
// Global, generic components

// General definition list
dl.standard-deflist {
    @extend dl.standard-form;

    > dt,
    > dd {
        padding: 0.33em 0;
        line-height: 1.33;
    }
}


ol.standard-list,
ul.standard-list {
    margin: 0.5em 1em;
    padding-left: 1em;

    > li {
        line-height: 1.5;
        margin: 0.33em 0;
    }
}

ul.standard-list > li:before {
    content: '‣';
    display: block;
    margin-left: -1em;
    float: left;
}

ol.standard-list {
    list-style-type: decimal;
}

// Three-column containers
.column-container {
    clear: both;
    overflow: hidden /* float context */;
    margin-top: 1em;
}
.column {
    float: left;
    width: 32.666%;
    margin-left: 1%;

    &:first-child {
        margin-left: 0;
    }
}
.column-2x {
    float: left;
    width: 66.333%;
    margin-left: 1%;

    &:first-child {
        margin-left: 0;
    }
}

.column h2:first-child,
.column-2x h2:first-child {
    margin-top: 0;
}

// Pager
ol.pager {
    font-size: 1.5em;
    margin: 0.67em 0;
    background: #fcfcfc;
    text-align: center;
    border: 1px solid #ccc;
    color: #ccc;
    @include border-radius(0 0 0.33em 0.33em);
    @include box-shadow(inset 0 -2em 2em -2em #ddd);

    > li {
        display: inline-block;
        vertical-align: middle;

        > a {
            display: block;
            color: hsl(216, 70%, 50%);
            text-decoration: none;

            &:hover {
                background: #eee;
                @include box-shadow(inset 0 -2em 2em -2em #ccc);
            }
        }
        > a, &.elided, &.current {
            padding: 0.33em 1em;
        }
        &.current {
            color: black;
            font-weight: bold;
        }

        &.pager-first {
            float: left;
        }
        &.pager-last {
            float: right;
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
// App-specific components

// Cool button-like link to a user.  Not really finished
.user-panel {
    display: inline-block;
    width: 20em;
    padding: 0.5em;
    border: 1px solid $darker-text;
    @include box-shadow((
        0.05em 0.05em 0.1em rgba(white, 0.5) inset,
        -0.05em -0.05em 0.1em -0.05em rgba(black, 0.5) inset,
        0 -2em 1em -1em $link-hover inset
    ));
    @include border-radius(0.5em);
    vertical-align: top;

    &:hover {
        @include box-shadow((
            0 0 0.17em $link-hover,
            0.05em 0.05em 0.1em rgba(white, 0.5) inset,
            -0.05em -0.05em 0.1em -0.05em rgba(black, 0.5) inset,
            0 -2em 1em -1em lighten($body-bg, 6%) inset
        ));
    }
    &:active {
        padding: 0.6em 0.4em 0.4em 0.6em;
        @include box-shadow((
            0 0 0.25em $link-hover,
            0.05em 0.05em 0.1em rgba(black, 0.5) inset,
            -0.05em -0.05em 0.1em -0.05em rgba(white, 0.5) inset,
            0 2em 1em -1em lighten($body-bg, 6%) inset
        ));
    }
}

////////////////////////////////////////////////////////////////////////////////
// App-specific components

// Some generic table stylings. Not necessarily complete.
table {
    th {
        background: $body-bg;
        font-weight: bold;
    }
    tr.even {
        background: lighten($body-bg, 12%);
    }
    th, td {
        padding: 0.5em;
    }
}

////////////////////////////////////////////////////////////////////////////////
// Markdown styling

.rich-text {
    ul, ol {
        margin-left: 2em;
    }
    li {
        list-style: disc;
        li {
            list-style: circle;
            li {
                list-style: square;
            }
        }
    }
}
