////////////////////////////////////////////////////////////////////////////////
// Core layout

html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    background: #c1c8cf;
    font-size: 12px;
    font-family: DejaVu Sans, Arial, sans-serif;
}

#header {
    position: relative;
    overflow: hidden;
    height: 100px;
    background: black;

    #logo {
        position: absolute;
        font-size: 3em;
        top: 0.33em;
        left: 0.33em;
        font-family: "Brush Script MT", cursive, serif;
        font-weight: bold;
        color: white;

        a {
            color: white;
        }
    }

    #user {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 16em;
        padding: 1em;
        background: #74818c;
        background: rgba(116, 129, 140, 0.75);
        color: white;

        a {
            &:link {
                color: #a4c1dc;
            }
            &:visited {
                color: #b1a4dc;
            }
            &:hover {
                color: #dca4a4;
            }
        }
    }

    #navigation {
        position: absolute;
        left: 0;
        right: 18em;
        bottom: 0;
        background: #74818c;
        background: rgba(116, 129, 140, 0.75);

        li {
            display: inline-block;

            a {
                display: block;
                margin: 0 0.5em;
                padding: 0.5em 1em;
                color: white;

                &:hover {
                    background: #74818c;
                }
            }
        }
    }
}

#flash {
    margin: 0 2em;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-top: none;
    border-bottom: none;
    color: #202020;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

    li {
        position: relative;
        padding: 0.25em 0.5em;
        border-bottom: 1px dotted #ededed;
        background: url(/images/flash-background.png) #d8d8d8 top left repeat;

        &.flash-level-success {
            border-color: #799070;
            background-color: #dee4dc;
        }
        &.flash-level-notice {
            border-color: #6f8290;
            background-color: #dbe0e3;
        }
        &.flash-level-warning {
            border-color: #90846f;
            background-color: #e3e0db;
        }
        &.flash-level-error {
            border-color: #907070;
            background-color: #e3dbdb;
        }

        img {
            display: block;
            position: absolute;
            top: -8px;
            left: -20px;
            margin-top: 1em;
        }
    }
}

#content {
    overflow: hidden;
    margin: 0 2em;
    padding: 1em;
    border: 1px solid #909090;
    border-top: none;
    background: #ededed;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    -moz-border-radius: 0 0 1em 1em;
    -webkit-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
}

#footer-spacer {
    height: 8em;
}
#footer {
    position: absolute;
    left: 2em;
    right: 2em;
    bottom: 0;
    height: 4em;
    padding: 1em;
    line-height: 1.33;
    background: #a6b0ba;
    -moz-border-radius: 0.25em 0.25em 0 0;
    -webkit-border-radius: 0.25em 0.25em 0 0;
    border-radius: 0.25em 0.25em 0 0;
}
#footer-stats {
    float: right;
    text-align: right;
}


////////////////////////////////////////////////////////////////////////////////
// Simple elements

a {
    font-weight: bold;
    text-decoration: none;

    &:link {
        color: #437fb8;
    }
    &:visited {
        color: #5f43b8;
    }
    &:hover {
        color: #b84343;
    }
}

img {
    vertical-align: middle;
}

p {
    margin-bottom: 0.5em;
}

pre {
    line-height: 1.2;
    font-family: monospace;
}

// -----------------------------------------------------------------------------
// Headers

h1 {
    font-size: 2em;
    margin: 1em 0 0.5em;
    padding: 0.5em 1em;
    border-bottom: 1px solid #5a7086;
    background: url(/images/h1-background.png) #bcc3cb left center repeat-x;
    font-family: serif;
    text-shadow: 1px 1px 1px #5a7086;

    #content > & {
        margin: 1em -0.5em 0.5em;
    }
    #content > &:first-child {
        margin: -0.5em -0.5em 0.5em;
    }

    img:first-child {
        margin-left: -16px;
    }
}

h2 {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
    padding: 0.25em 0.5em;
    background: #bdc3cb;
    border-bottom: 1px solid #94a0ac;
}

// -----------------------------------------------------------------------------
// Forms

input, button, select {
    vertical-align: middle;
}
input[type="submit"], input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

.form-error {
    margin: 0.25em 0.25em 0.5em;
    padding-left: 16px;
    background: url(/icons/exclamation-small-red.png) left center no-repeat;
    color: darkred;
}

// -----------------------------------------------------------------------------
// Lists

dl.standard-form {
    dl {
        overflow: hidden /* new float context */;
        margin-bottom: 0.75em;
    }
    dt {
        float: left;
        clear: left;
        width: 11.5em;
        margin-right: 0.5em;
        text-align: right;
        color: #5a7086;

        &:after {
            content: ':';
        }
    }
    dd {
        padding-left: 12em /* float width, so hover highlight includes dt but lines wrap correctly */;

        &:after {
            content: 'float clear';
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
    }
    dt, dd {
        line-height: 1.5;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Global, generic components

// Three-column containers
.column-container {
    clear: both;
    overflow: hidden /* float context */;
    margin-top: 1em;
}
.column {
    float: left;
    width: 32.666%;
    margin-left: 1%;

    &:first-child {
        margin-left: 0;
    }
}
.column-2x {
    float: left;
    width: 66.333%;
    margin-left: 1%;

    &:first-child {
        margin-left: 0;
    }
}

.column h2,
.column-2x h2 {
    border-color: #b8c0c8;
    background: #d1d8df;
}
.column h2:first-child,
.column-2x h2:first-child {
    margin-top: 0;
}


////////////////////////////////////////////////////////////////////////////////
// App-specific components

// Cool button-like link to a user.  Not really finished
.user-panel {
    display: inline-block;
    width: 20em;
    padding: 0.5em;
    border: 1px solid #5a7086;
    box-shadow:
        0.05em 0.05em 0.1em hsla(0, 0%, 100%, 0.5) inset,
        -0.05em -0.05em 0.1em -0.05em hsla(0, 0%, 0%, 0.5) inset,
        0 -2em 1em -1em #d3d8dd inset;
    border-radius: 0.5em;
    vertical-align: top;

    &:hover {
        box-shadow:
            0 0 0.17em #b84343,
            0.05em 0.05em 0.1em hsla(0, 0%, 100%, 0.5) inset,
            -0.05em -0.05em 0.1em -0.05em hsla(0, 0%, 0%, 0.5) inset,
            0 -2em 1em -1em #d3d8dd inset;
        border-radius: 0.5em;
        vertical-align: top;
    }
    &:active {
        padding: 0.6em 0.4em 0.4em 0.6em;
        box-shadow:
            0 0 0.25em #b84343,
            0.05em 0.05em 0.1em hsla(0, 0%, 0%, 0.5) inset,
            -0.05em -0.05em 0.1em -0.05em hsla(0, 0%, 100%, 0.5) inset,
            0 2em 1em -1em #d3d8dd inset;
    }
}

// Custom-styled button
.stylish-button {
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    border: 1px solid #5a7086;
    border-radius: 0.75em;
    box-shadow:
        0.1em 0.1em 0.1em -0.1em white inset,
        0 2em 1em -1em hsla(0, 0%, 100%, 0.4) inset;

    &:hover {
        box-shadow:
            0 0 0.17em #b84343,
            0.1em 0.1em 0.1em -0.1em white inset,
            0 2em 1em -1em hsla(0, 0%, 100%, 0.4) inset;
    }
    &:active {
        box-shadow:
            0 0 0.17em #b84343,
            0.1em 0.1em 0.1em -0.1em black inset,
            0 2em 1em -1em hsla(0, 0%, 0%, 0.1) inset;
    }

    &.confirm {
        background: hsl(120, 40%, 50%);
    }
    &.destroy {
        background: hsl(0, 40%, 50%);
    }

    &.mini {
        font-size: 0.8em;
    }
}
