ul#x-debugging {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20em;
    background: rgba(0, 0, 0, 0.7);

    li {
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
        padding: 1em;
        color: white;
        cursor: pointer;

        &:hover {
            background: hsl(215, 50%, 30%);
        }
        &.selected {
            background: hsl(215, 50%, 50%);
        }

        h5 {
            font-size: 1.33em;
            margin-bottom: 0.5em;
        }
        h6 {
            font-size: 1.1em;
            color: #d0d0d0;
        }
    }

    table {
        line-height: 1.33;

        tbody:nth-child(2n) {
            background: #e8e8e8;
        }
        td, th {
            padding: 0.25em 0.5em;
        }
    }
}

.x-debugging-panel {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20em;
    padding: 1em;
    border: 1em solid hsl(215, 50%, 50%);
    background: #f4f4f4;
    color: black;
    cursor: default;

    ul#x-debugging li.selected & {
        display: block;
    }
}

#x-debugging-toggler {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;

    img {
        display: block;
        height: 64px;
        margin: 8px;
        opacity: 0.3;

        @include pixel-scaling;
    }

    &:hover {
        img {
            opacity: 1;
        }
    }
}
